$primaryColor: #95beea;
$secondaryColor: #83b0e9;
$fontColor: black;
$hover: $secondaryColor;
$menuColor: #95beea;

$defaultFont: 'Raleway', sans-serif;;
$normalWeight: 300;
$boldWeight: 500;

$gutter: 2%;
$gutterdbl: (2 * $gutter);
